sudo: required
dist: trusty
language: bash
before_install:
- sudo apt-get -qq update
- sudo apt-get install -y --no-install-recommends texlive-full
script:
- pdflatex -interaction=nonstopmode -halt-on-error *.tex
deploy:
  provider: releases
  api_key:
    secure: Bk0Xr3QIB+ApgRYPGXt52MSdB+KV1qGaxC76cD0oRBSGfg3/2y8TG5QmSE9VtJw7BvhxzT96NFbJST8WtF8xka8Xto6L9goY3yGjNEWAPi0ZLKleaXia/X4+Wqj3FZ4mMvVvYvNXSQXfdhUUa8jIclCSX63EnQ9C66nONXbLv7tIFlI7bZw+LX1g6121MSeh4Yu0xjI7M2x3MZbucXP2k8r03nECvT/fabaKuthmwMYNtHI46FR4dQgRj0Bljytimiq+FzlZM3cs4LYkgWHDcoct5gDdsOdRpgPiw9nHS7E1cb6M9ZvVDDMc8IsaxW+FhFFsgLuMhD9sugsLGNTB4wcMmH8t/HDyZdYjvN4IsVEhrciTGgFGqz2eq/LabwVJpaNK93eRCcY0AeCLgK954LRWV7KmvJpi2m/cSACQDZUO6mJHVJ01Qpnje6a6h9Rnxew2jDsc3IXI5DJa6oh6++eFFu5PZGRhwi7NmYWZrespC1JSlF3Sg6tZUFuUS0Qo7g40aFBDiC8DQPPJYQZCvP26NE1ykkNTtfOUHIIlaMjGP9i4bWVx5E55HV334x/ZesYv5XmKpgHuAcTHRJrtoYxhqZN3BbovNa2CRxQGkgIKyT0ilnmyht28yCb/rbjydEl2khYCNloNg2d9vUZkSfE7mMslkkDYLJzL/AWG/Po=
  file_glob: true
  file: /*.pdf
  on:
    repo: duese/latex-test
